// Vault auth during Planning time - can only have static query elements
data "external" "vault_login_plan" {
  program = ["bash", "${path.module}/vault_login.sh"]
  query = {
    role             = "workspace_role"
    VAULT_ADDR       = var.VAULT_ADDR
    VAULT_LOGIN_PATH = "v1/auth/tfe-auth/login"
  }
}

// Vault auth during Apply time - must have a dynamic element
data "external" "vault_login_apply" {
  program = ["bash", "${path.module}/vault_login.sh"]
  query = {
    role             = "workspace_role"
    VAULT_ADDR       = var.VAULT_ADDR
    VAULT_LOGIN_PATH = "v1/auth/tfe-auth/login"
    always_run       = timestamp()
  }
}

provider "vault" {
  address    = var.VAULT_ADDR
  token      = data.external.vault_login_apply == null ? data.external.vault_login_plan.result.VAULT_TOKEN : data.external.vault_login_apply.result.VAULT_TOKEN
  token_name = "terraform-${var.TFE_RUN_ID}"
}

// just a test.
resource "vault_generic_secret" "example" {
  path = "secret/hello"

  data_json = <<EOT
{
  "foo":   "bar",
  "pizza": "crackers"
}
EOT
}
